// Custom styles go here

body {
	padding: 15px 30px;
}

h1 {
	font-size: 2em;
	margin-bottom: 15px;
}

// main actions
ul#actions-menu {
	list-style-type: none;
	padding: 0;

	li {
		display: inline-block;
		font-size: 1.5em;
		padding: 0 10px;
		margin-right: 10px;
		cursor: default;

		&.active {
			border-bottom: 3px solid $blue;
		}

		&:hover {
			background-color: $gray-300;
		}
	}

	li:first-of-type {
		margin-left: -10px;
	}
}


// Form
form {
	.form-row {
		padding: 5px 0;
	}

	input[type="submit"] {
		//margin-top: 10px;
	}

	.form-control {
		border-radius: 0px;
		border-color: #fff;
		border-bottom: 2px solid $gray-700;

		&:focus {
			border-color: #fff;
			border-bottom: 2px solid $gray-700;
			box-shadow: unset;
		}
	}
}


// Modals
.modal {
	margin: 15px;

	&#message {
		//background-color: $red;
	}
}

#message {
	margin-top: 30px;

	.modal-header {
		padding: 0 5px;
		position: absolute;
		width: 100%;
	}

	.modal-body {
		padding-bottom: 0;
		pointer-events: none;
	}

	&.error {
		.modal-content {
			background-color: $red;
		}
	}
}






