// Custom styles go here

body {
	padding: 15px 30px;

	@media ( max-width: 460px ) {
		padding: 15px 10px;
	}
}

h1 {
	font-size: 2em;
	margin-bottom: 15px;
}

h2 {
	font-size: 1.5em;
}

.overdue {
	color: #eb273a;
}

.hidden {
	display: none ;
}

#checkin-options, #checkout-options {
	//margin-top: 30px;
	position: relative;
	max-width: 800px;
	margin: 30px auto;

	background-color: #eee;
	padding: 15px;
	border-radius: 5px;

	max-width: 800px;

	ul {
		list-style-type: none;
		padding: 0;
	}
}



// Forms
form {
	.form-row {
		padding: 5px 0;
	}

	input[type="submit"] {
		margin-left: 10px;
	}

	.form-control {
		border-radius: 0px;
		border-color: #fff;
		border-bottom: 2px solid $gray-700;

		&:focus {
			border-color: #fff;
			border-bottom: 2px solid $gray-700;
			box-shadow: unset;
		}
	}

	.col-form-label {
		width: 65px;
	}
}

form#get-asset, form#get-person {
	//margin-top: 50px;
	width: max-content;
	position: relative;
	margin: 50px auto;

	.form-row {
		display: flex;
		//justify-content: center;
	}
	input[type=text].form-control {
		width: 300px;
		@media ( max-width: 460px ) {
			width: calc(100% - 120px);
		}
	} 
}

form#assigned-assets {
	.table-header {
		span {
			//background-color: rgba(0,0,0,.2);
			//padding: 5px;
			//border-radius: 4px;

			//text-decoration: underline;
			border-bottom: 2px solid grey;
		}
	}
}


// Modals
.modal {
	padding: 15px;

	&:not(#message) {
		padding-top: 100px;
		background: rgba(0,0,0,.65);
	}

	.close {
		text-shadow: none;
	}

	.modal-content {
		max-width: 700px;
		margin: 0 auto;
	}
}

#message {
	z-index: 2000;
	color: rgba(0,0,0,.7);

	.modal-header {
		padding: 0 5px;
		position: absolute;
		width: 100%;
	}

	.modal-body {
		padding-bottom: 0;
		pointer-events: none;
	}

	.modal-content {
		border: none;
	}

	&.error {
		.modal-content {
			background-color: #eb273a;
		}
	}

	&.success {
		.modal-content {
			background-color: #1fd449;
		}
	}
}






